APP_ENV=development
CONFIG_DIR=config

APP__DATABASE__URL=postgresql://ecomadmin:ecomDev04@localhost/ecomdev01
APP__DATABASE__MAX_CONNECTIONS=20

APP__SERVER__HOST=127.0.0.1
APP__SERVER__PORT=3000




APP__REDIS_URL=redis://localhost:6379

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
TOKEN_EXPIRY_HOURS=24

RUST_LOG=multi_vendor_ecommerce=debug,tower_http=debug